* {
    box-sizing: border-box;
}

body {
    margin-top: 0 !important;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 248, 241);
    font-family: 'Open Sans', sans-serif;
}

.margin-body {
    margin: 30px;
}


/*-GRAPHIC ELEMENT-*/

.border-bottom {
    border-bottom: 1px solid #000000 !important;
    margin: auto;
}

.border-left {
    border-left: 1px solid #000000 !important;
}

.border-right {
    border-right: 1px solid #000000 !important;
}

.border-top {
    border-top: 1px solid #000000 !important;
}

.border {
    border-bottom: 1px solid #000000 !important;
    border-left: 1px solid #000000 !important;
    border-right: 1px solid #000000 !important;
    border-top: 1px solid #000000 !important;
}

h1 {
    font-family: 'Playfair Display', serif;
}

.logo {
    height: 50px;
}

.header {
    position: relative;
    margin-top: 3%;
}

.description-text {
    padding-bottom: 20px !important;
    padding: 0;
}

.description-title {
    padding: 0;
}

.divisore {
    width: 100%;
    margin-top: 50px;
}


/*-NAV MENU-*/

.menu {
    background-color: rgb(255, 239, 224);
    z-index: 99;
    margin: 0 !important;
    width: 100%;
    margin-top: 0;
}

.ul-menu {
    padding: 0;
    padding-top: 40px;
    padding-bottom: 20px;
    margin-left: 30px;
    margin-right: 30px;
}

ul#menu li {
    display: inline;
}

a {
    text-decoration: none;
    color: black;
    padding: 1vh;
}

a:hover {
    color: rgb(136, 94, 50);
}

.first-element {
    padding-left: 0;
}

nav {
    height: 50px;
    top: 3vh;
    padding-left: 0;
}

.nav-link {
    color: black;
    font-family: 'Open Sans', sans-serif;
}

.nav-link:hover {
    color: rgb(155, 132, 108);
    text-decoration: underline;
}


/*-FLEX-*/

.flex-grid {
    display: flex;
    flex-wrap: wrap;
}

.flex-grid>.col {
    flex: 1 1 30%;
    /*grow | shrink | basis */
}


/*-MAPPA-*/

#haritam {
    height: 600px;
    width: 100%;
}

.gm-style-iw * {
    display: block;
    width: 100%;
}

.gm-style-iw h4,
.gm-style-iw p {
    margin: 0;
    padding: 0;
}

.gm-style-iw a {
    color: #000000;
}


/*--SECTION FOTO--*/

.section-foto {
    top: 50px;
}

.foto-margin {
    margin-top: 40px;
}

.titolo-foto {
    margin: 5px;
}

.paragrafo-foto {
    margin: 10px;
}


/*--FOOTER--*/

.footer {
    background-color: rgb(255, 239, 224);
    z-index: 99;
    width: 100%;
}

.margin-footer {
    padding: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
    font-weight: 500;
}